/.dependencygraph
/.git
/.github
/.history
/.husky
/.next
/.storybook
/.vscode
/__mocks__
/build
/coverage
/idea
/i18n
/node_modules
/public
/public-src
/publish
/types
/utils

/preview-public
/src/preview-template*

package-lock.*
**/*_
