// Colors...

// Sync with `webpack.params.js`
$appId: 'delivery-options';
$appFolder: 'page-#{$appId}';
$uploadsFolder: 'upload/#{$appFolder}';

$primaryColor: #f90;

$grayLightColor: #cccccc;
$grayBrightColor: #d9d9d9;

// Fonts...

// $softFont: MinionPro-Regular, serif;

// Timeouts...

$transitionTimeMs: 250ms;
$animationTimeMs: 500ms;
$disappearTimeMs: 1000ms;

// Adaptive layouts...

$smTreshold: 768px;
$mdTreshold: 992px;
$lgTreshold: 1200px;

// Export to TS code (TODO)...

// Blocks
$blockRootNode: '.t229';
