@import 'variables';

// stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown
:export {
  // Export variables (see re-exports in `cssVariables.ts`)
  // blockRootNode: #{$blockRootNode};
  appId: #{$appId};
  appFolder: #{$appFolder};
  uploadsFolder: #{$uploadsFolder};
}
