@use 'sass:color';

@import 'variables';

@function rgbComponents($color) {
  @return color.channel($color, 'red', $space: rgb) color.channel($color, 'green', $space: rgb)
    color.channel($color, 'blue', $space: rgb);
}

:root {
  // Colors...

  --appId: #{$appId};
  --appFolder: #{$appFolder};
  --uploadsFolder: #{$uploadsFolder};

  --primaryColor: #{$primaryColor};
  --primaryRGB: #{rgbComponents($primaryColor)};

  --grayLightColor: #{$grayLightColor};

  // Fonts...

  // --softFont: #{$softFont};

  // Timeouts...

  --transitionTimeMs: #{$transitionTimeMs};
  --animationTimeMs: #{$animationTimeMs};
  --disappearTimeMs: #{$disappearTimeMs};
}
