@use 'sass:color';

.OptionsSection {
  $borderColor: #ccc;
  $lightBorderColor: color.change($borderColor, $alpha: 0.5);
  $lightTextColor: #999;
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    h4 {
      color: $lightTextColor;
      font-weight: bold;
      padding-bottom: 1em;
      border-bottom: 1px solid $lightBorderColor;
      margin-bottom: 1em;
      // letter-spacing: 0.015em;
      line-height: 1.6;
    }
    .Info {
      color: $lightTextColor;
      letter-spacing: 0.5px;
      font-style: italic;
      font-weight: bold;
      padding-top: 1em;
      border-top: 1px solid $lightBorderColor;
      margin-top: 1em;
    }
    .Fade {
      opacity: 0.5;
    }
  }
  .content > ul.Items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      border: 1px solid $lightBorderColor;
      border-radius: 10px;
      overflow: hidden;
      transition: all var(--transitionTimeMs);
      &:hover {
        border-color: color.change($borderColor, $alpha: 1);
      }
      button {
        width: 100%;
        padding: 20px;
        padding-bottom: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        cursor: pointer;
        background-color: transparent;
        &,
        .Text {
          transition: all var(--transitionTimeMs);
        }
        .Icon {
          display: inline-block;
          width: 120px;
          height: 52px;
          background-repeat: no-repeat;
          background-position: center;
          min-width: 120px;
        }
        .Text {
          display: inline-block;
          font-weight: bold;
        }
        &:hover {
          background-color: color.change($borderColor, $alpha: 0.3);
        }
        &[aria-expanded='true'] {
          background-color: color.change($borderColor, $alpha: 0.25);
          &:hover {
            background-color: color.change($borderColor, $alpha: 0.35);
          }
        }
      }
      &#Selfcare .Icon {
        background-image: url('../images/Options/Selfcare.svg');
      }
      &#Provider .Icon {
        background-image: url('../images/Options/Provider.svg');
      }
      &#Cdek .Icon {
        background-image: url('../images/Options/Cdek.svg');
      }
      &#Dl .Icon {
        background-image: url('../images/Options/Dl.svg');
      }
      &#Yandex .Icon {
        background-image: url('../images/Options/Yandex.svg');
      }
      .collapse {
        padding: 20px;
        padding-bottom: 10px;
        > :first-child {
          margin-top: 0;
        }
        &:not(.show) {
          display: none;
        }
        &.show {
          background-color: color.change($borderColor, $alpha: 0.1);
        }
      }
    }
  }
}
